<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <form [formGroup]="newTaskGroup" (ngSubmit)="onSubmit()">
                <label for="taskDescription" class="form-label">
                    What do you have to do?
                    <input type="text" formControlName="description" required>
                </label><br />
                <div class="form-actions right">
                    <div class="row">
                        <label for="status" class="form-label">
                            How it is going?
                        </label><br />
                        <select formControlName="status" class="form-select">
                            <option *ngFor="let status of statusList" [ngValue]="status">
                                {{status.name}}
                            </option>
                        </select><br />
                        <label for="taskType" class="form-label">
                            Task Type:
                            <input type="text" formControlName="taskType">
                        </label><br />
                        <div class="">
                            <a href="/" *ngFor="let tag of tags">
                                {{ tag.name }}
                            </a>
                        </div><br />
                        <label for="priority" class="form-label">
                            Task Priority:
                            <input type="text" formControlName="priority">
                        </label><br />
                    </div>
                </div>
            </form>
            <button type="submit" [disabled]="!newTaskGroup.valid" (click)="onSubmit()" class="btn btn-primary">
                Submit
            </button>
        </div>
    </div>
</div>